name: Build & Release ASM206

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            cc assembler.c -o assembler.exe
            cc emulator.c  -o emulator.exe
          else
            cc assembler.c -o assembler
            cc emulator.c  -o emulator
          fi
        shell: bash

      - name: Package Windows
        if: runner.os == 'Windows'
        run: |
          powershell Compress-Archive -Path assembler.exe, emulator.exe -DestinationPath windows.zip

      - name: Package macOS
        if: runner.os == 'macOS'
        run: |
          tar -czf macos.tar.gz assembler emulator

      - name: Package Linux
        if: runner.os == 'Linux'
        run: |
          tar -czf linux.tar.gz assembler emulator

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/heads/')
        with:
          tag_name: latest
          name: Latest Release
          files: |
            *.zip
            *.tar.gz
